@import '_config'

body
  width: 100vw
  min-height: 100vh
  font:
    family: 'Ubuntu', sans-serif
    weight: 200
  display: flex
  justify-content: center
  color: white
  background: linear-gradient(to right top, darken($dark, 10), $dark)


h2
  padding: 1rem
  text-align: center

input
  height: 100%
  outline: none
  font:
    size: 1.3rem
  padding-left: 1rem

button
  width: 2rem
  height: 2rem
  font:
    size: 2rem
    weight: 700
  line-height: 2rem
  color: green
  background: unset
  border: none
  outline: none
  cursor: pointer
  display: inline-flex
  align-items: center
  justify-content: center

hr
  margin:
    bottom: 1rem
    top: 1rem

.checked
  text-decoration: line-through
  color: #aaa
.fa-check, .fa-trash
  color: white
  font:
    size: 1.2rem
.container
  width: 75vw
  max-width: 50rem
  .new
    @include flex(row,space-between, center)
    background-color: white
    height: 2.1rem
    background-color: white
    width: 100%
    input
      flex: 1
  
  .todo
    width: 100%
    @include flex(row,space-between, center)
    line-height: 1.2rem
    font:
      size: 1.2rem
      weight: 400
    border-bottom: 1px solid rgba(white, .5)
    background: rgba(black, .1)
    padding-left: 1rem
    