@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*, html, body, main, nav, div, a, img, section, article, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  color: white;
  background: linear-gradient(to right top, #1a1a1a, #333);
}

h2 {
  padding: 1rem;
  text-align: center;
}

input {
  height: 100%;
  outline: none;
  font-size: 1.3rem;
  padding-left: 1rem;
}

button {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: green;
  background: unset;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.checked {
  text-decoration: line-through;
  color: #aaa;
}

.fa-check, .fa-trash {
  color: white;
  font-size: 1.2rem;
}

.container {
  width: 75vw;
  max-width: 50rem;
}
.container .new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 2.1rem;
  background-color: white;
  width: 100%;
}
.container .new input {
  flex: 1;
}
.container .todo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
}