@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: 1.2rem;
}
.menu-item a {
  @apply flex cursor-pointer justify-between hover:bg-green-200 p-3;
}
.sub-menu li {
  @apply cursor-pointer flex justify-between pl-8 hover:bg-green-200 p-3;
}

.fa-bell {
  position: relative;
}
.fa-bell::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
}
